.qr-code {
    width: 200px;
    box-shadow: 0px 0px 10px 2px #F39435;
}

.center-image,
.center-image-shadow,
.center-eighty-image,
.center-fifty-image,
.center-eighty-image-shadow,
.center-fifty-image-shadow,
.full-image,
.full-image-svg,
.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-image {
    width: 60%;
}

.center-fifty-image-shadow,
.center-fifty-image {
    width: 50%;
}

.center-eighty-image-shadow,
.center-eighty-image {
    width: 80%;
}

.full-image-svg,
.center-image-shadow,
.center-fifty-image-shadow,
.center-eighty-image-shadow,
.title-image {
    border-radius: 0.5em;
}

.full-image,
.full-image-svg,
.center-image-shadow,
.center-fifty-image-shadow,
.center-eighty-image-shadow,
.title-image {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 20px;
}

.full-image-svg {
    padding: 10px;
}
