.github-button {
    /* color: red !important; */
}

.custom-content {
    display: none;
}

.sk-blue {
    color: #303A9A;
}

.center {
    text-align: center;
}

.title-1 {
    font-size: 1.5rem;
}
