// place your custom styles here

.sk-blue {
  color: var(--theme-abm-color);
}

.sk-orange {
  color: var(--theme-accent-color);
}

h1 {
  display: block;
  text-align: center;
}

h2 {
  color: var(--theme-color);
}

.sidebar {
  box-shadow: 5px 5px 5px #ccc;
}

//----------- nav bar ----------------
.navbar {
  span.site-name {
    display: none;
  }
  .nav-item {
    // 导航栏 image 图标
    a > img {
      max-width: 14px;
      vertical-align: middle;
    }
  }
}

// 首页封面样式
.blog-hero {
  background-blend-mode: normal;
  // background-color: rgb(83, 165, 232);
  // background-image: radial-gradient(
  //   at center 115%,
  //   rgba(255, 255, 255, 0.9),
  //   transparent
  // );
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;

  img {
    max-width: 400px;
  }

  h1 {
    font-size: 1.5rem !important;
    font-weight: 300;
    color: #ea4827;
  }

  .description {
    font-size: 1rem !important;
    color: #303a9a;
  }

  .slide-down-button .icon:first-child {
    color: rgba($color: #303a9a, $alpha: 0.5) !important;
  }

  .slide-down-button .icon:nth-child(2) {
    color: rgba($color: #303a9a, $alpha: 0.75) !important;
  }
}

// 博客首页样式
.blog-home {
  // 文章列表样式
  #article-list {
    .article-item {
      margin: 0 auto 2px;
      .article {
        border-radius: 0;
        .excerpt {
          margin: 10px auto;
          font-size: 13px;
          color: #666;
        }
        .page-info {
          font-size: 11px;
        }
      }
    }
  }
}

.blog-info-list .blog-type-button .active {
  color: #fff;
}

.theme-hope-content {
  ol,
  ul {
    padding-left: 2rem;
    li {
      color: var(--theme-list-color);
    }
  }
  p{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
    letter-spacing: 0.034em;
    line-height: 1.9;
    word-spacing: 2px;
  
    word-wrap: break-word !important;
  }
}

.sidebar {
  // sidebar 中的图片图标
  img {
    width: 18px;
  }
  .icon {
    color: var(--theme-accent-color);
    margin-right: 0.5rem;
  }
  ul {
    list-style-type: none;
  }
}

#toc {
  left: calc(100% + 3rem) !important;

  // .toc-wrapper::before {
  //   background: var(--theme-accent-color);
  // }
}

//----------------------- images --------------------------

// 博客介绍页的 QR code
.qr-code img {
  width: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px var(--theme-accent-color);
}

@mixin floatingImage {
  @for $i from 1 through 10 {
    $width: 10% * $i;
    &.size-#{$i} {
      width: $width;
    }
  }

  & > img {
    width: 85%;
  }
}

.theme-hope-content {
  img {
    cursor: pointer;
  }

  p > strong {
    color: #5192f0;
  }

  .center-text {
    text-align: center !important;
  }

  .center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @for $i from 1 through 10 {
    $width: 10% * $i;
    .size-#{$i} > img {
      width: $width;
    }
  }
  .shadow > img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 20px;
  }
  .radius > img {
    border-radius: 0.5em;
  }
  .svg > img {
    padding: 10px;
  }

  .float-l {
    float: left;

    @include floatingImage;
  }

  .float-r {
    float: right;

    @include floatingImage;
  }

  .weight {
    font-weight: 700;
  }

  .large {
    font-size: 1.5rem;
  }

  .enhanced {
    // border: 1px solid var(--theme-color);
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(#fe8a34, 0.08);
  }
}

// ---------------- Table ---------------
.abmTable {
  margin: auto;
  width: 50%;
  display: table;
  border: 2px solid var(--theme-color);
  th,
  td {
    text-align: center;
  }
}

// --------download button-----------------
.download-button {
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  display: inline-block;
  text-decoration: none !important;
  box-shadow: 0px 2px 5px 1px #999;
  border-radius: 10px;
  background-color: var(--theme-color);
  color: #fff !important;
}

.download-button:hover {
  box-shadow: 0px 2px 8px 3px #999;
}

// ----------------- footer ---------------------
.footer {
  position: relative;
}

.footer #qrcode {
  position: absolute;
  max-width: 8%;
  box-shadow: 0 2px 9px var(--theme-color);
  margin-top: -20px;
  cursor: pointer;
}

button.copy {
  bottom: unset !important;
  top: 28px !important;
}

@media screen and (max-width: 800px) {
  .theme-hope-content {
    img {
      width: 100%;
    }
  }
  .abmTable {
    margin: 0;
    max-width: 100%;
  }
  .footer {
    font-size: 0.7em;
    text-align: right;
  }

  .footer #qrcode {
    display: none;
  }
}
