// you can change colors here

:root {
  --base-background-color: #f5f5f5;
  --base-font-size: 16px;
  --theme-abm-color: #303a9a;
  --theme-accent-color: #fe8a34;
  --theme-warning-color: #fb0067;
  --theme-list-color: #4f68c2;

  --content-width: 60rem;
}

$theme-color: #fe8a34;
